<apex:page controller="Copy2_Ctrl_m_MeetingReporting" title="Event Reporting" showHeader="true" sidebar="true" docType="html-5.0">
	<!-- standardstylesheets="false" -->

	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	</head>
	<style type="text/css">
		.tableLabel {
			font-weight: bold !important;
			color: blue !important;
			display: inline-block;
			font-size: .75rem;
			line-height: 1.5;
			margin-right: .75rem;
			margin-bottom: .25rem;
		}

		.selectListWidth {
			min-width: 15% !important;
			max-width: 30% !important;
		}

		.boxStyle {
			-webkit-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			margin-bottom: 0.75rem;
			border: 1px solid #bdbaba;
			padding: 9px;
			border-radius: 9px;
			min-width: 3in;
			min-height: 0.5in;
			direction: rtl;
		}

		.LastMeetingsBoxStyle {
			-webkit-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			margin-bottom: 0.75rem;
			border: 1px solid #bdbaba;
			padding: 9px;
			border-radius: 9px;
			min-width: 3in;
			min-height: 0.5in;
			direction: ltr;
		}

		.tableBox {
			-webkit-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			box-shadow: 8px 8px 9px -3px rgba(0, 0, 0, 0.5);
			border: 0.25px solid #bdbaba;
			min-width: 3in;
			min-height: 0.6in;
			direction: ltr;
		}

		body {
			background-color: #ecebea !important;
			.slds-scope .slds-table {
				border: 0px solid #ecebea !important;
				background-color: #a8bfd1 !important;
				font-size: small !important;
				.slds-scope .slds-table--cell-buffer tr>td:last-child,
				.slds-scope .slds-table--cell-buffer tr>th:last-child,
				.slds-scope .slds-table_cell-buffer tr>td:last-child,
				.slds-scope .slds-table_cell-buffer tr>th:last-child {
					padding-right: 0rem;
				}
				.select2-container .select2-selection--single {
					width: 60% !important;
				}
				.select2-container--default .select2-selection--single {
					width: 60% !important;
				}
				.select2-container--default .select2-selection--single .select2-selection__rendered {
					width: 100% !important;
				}
				.select2-container .select2-selection--single .select2-selection__rendered {
					width: 100% !important;
				}
				.select2-search__field {
					width: 100% !important;
				}
				.select2-results {
					width: 100% !important;
				}
				.select2-selection__arrow {
					width: 90% !important;
				}
				.select2-container--open .select2-dropdown--below {
					width: 17rem !important;
				}
				span.select2-dropdown.select2-dropdown--below {
					width: 12rem !important;
				}
				.select2-search--dropdown {
					width: 90% !important;
				}
	</style>
	<apex:slds />
	<!-- GENERAL -->
	<apex:form style="margin-left:0.5%;margin-right:3%;" id="form" styleClass="slds-size--10-of-12 slds-small-size--3-of-10 slds-medium-size--8-of-12">
		<!-- action Function -->
		<apex:outputPanel >
			<apex:actionFunction name="rerenderList1" action="{!CreateMeetings}" oncomplete="rerenderList2()"></apex:actionFunction>
			<apex:actionFunction name="rerenderList2" oncomplete="rerenderList3()" reRender="pageNum1,pageNum2"></apex:actionFunction>
			<apex:actionFunction name="rerenderList3" oncomplete="rerenderList4()" reRender="rerenderMe,picklist"></apex:actionFunction>
			<apex:actionFunction name="rerenderList4" oncomplete="initObjSelectContact()" reRender="dummy"></apex:actionFunction>
			<!-- <div id='ContactList' style="width:25%;"></div> -->
			<apex:actionFunction name="eventUpdate" action="{!UpdateEvent}" oncomplete="eventUpdate2()" ></apex:actionFunction>
			<apex:actionFunction name="eventUpdate2" reRender="pageNum3,pageNum1,dateSection"></apex:actionFunction>
			<!-- <apex:actionFunction name="eventUpdate3" reRender="pageNum3,pageNum1,dateSection"></apex:actionFunction> -->

			<apex:actionFunction name="eventUpdateAndNext" action="{!UpdateEventAndNext}" oncomplete="sparta()" reRender="pageNum3,pageNum1,dateSection"></apex:actionFunction>
			<apex:actionFunction name="cancel" action="{!ReturnToMainPage}" oncomplete="sparta()" reRender="pageNum3,pageNum1,dateSection"></apex:actionFunction>
			<apex:actionFunction name="sendEditRequest" action="{!EditRequest}" oncomplete="sparta()" reRender="pageNum3,pageNum1,dateSection"></apex:actionFunction>
			
			<apex:actionFunction name="populateSelectedFields" action="{!populateSelectedFields}" oncomplete="eventUpdate()" >
				<apex:param value="" assignTo="{!myJsonObj}" name="myJsonObj_1"/>
			</apex:actionFunction>
		</apex:outputPanel>

		<apex:outputPanel id="dummy">
		</apex:outputPanel>


		<div style="text-align:center;margin-top:2%;">
			<apex:outputText value="Event Reporting" style="font-size: 25px;font-weight:bold;color:#0a64ab;" />
		</div>
		<apex:outputPanel id="alertPanel">
			<div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert" id="errDiv" style="margin-bottom:2%;font-size: 18px;{!IF(pgErrorMsg != null  && pgSuccessMsg = null , 'display:block', 'display:none')};">
				<span class="slds-assistive-text">error</span>
				<apex:outputtext id="ErrMsg" style="white-space:pre-wrap;" value="{!pgErrorMsg}" escape="false" />
			</div>
			<div class="slds-notify slds-notify_alert slds-theme--alert-texture slds-theme--success" role="alert" id="successDiv" style="margin-bottom:2%;font-size: 18px;{!IF(pgErrorMsg = null && pgSuccessMsg != null , 'display:block', 'display:none')};">
				<span class="slds-assistive-text">Success</span>
				<apex:outputtext id="SuccMsg" style="white-space:pre-wrap;" value="{!pgSuccessMsg}" />
			</div>
		</apex:outputPanel>
		<apex:outputPanel id="dateSection" styleClass="slds-grid slds-wrap" style="{!IF(pageNum = 1 , 'display:block', 'display:none')};">
			<apex:outputPanel styleClass="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--1-of-1">
				<apex:inputField id="selectedDate" value="{!evn.UtilDate__c}" style="width:30%;text-align:center;">
					<apex:actionSupport rerender="alertPanel,dayOfWeek,pageNum1" event="onchange" action="{!GetEvents}" />
				</apex:inputField>
			</apex:outputPanel>
		</apex:outputPanel>
		<apex:outputPanel styleClass="slds-grid slds-wrap" style="{!IF(pageNum != 1 , 'display:block', 'display:none')};">
			<div class="slds-col slds-size--1-of-1 slds-small-size--1-of-2 slds-medium-size--1-of-1">
				<!-- <apex:outputText value="{!evn.UtilDate__c}"/>   -->
				<label class="slds-form-element__label" style="font-weight: bold;font-size:larger;">Selected Date:</label>
				<apex:outputText value="{0,date,dd/MM/yyyy}">
					<apex:param value="{!evn.UtilDate__c}" />
				</apex:outputText>
			</div>
		</apex:outputPanel>
		<apex:outputText id="dayOfWeek" value="{!thisdayOfWeek}" style="font-weight:bold;color: blue;margin-left: 3%;font-size: larger;"/>
		<br/>
		<!-- {!items1} -->
		<!-- /// GENERAL -->
		<!-- SCREEN # 1 -->
		<apex:outputPanel id="pageNum1" style="{!IF(pageNum = 1 , 'display:block', 'display:none')};width:100%;">
			<apex:outputPanel id="evnTable" layout="block" styleClass="slds-grid slds-wrap" style="margin-top: 0.75rem;">
				<apex:outputPanel id="LastEvents" style="{!IF(IsShowLastEvents, 'display:block', 'display:none')};">
					<div style="height:640px">
						<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
							<div class="slds-modal__container">
								<header class="slds-modal__header">
									<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="color:#0a64ab;font-weight: bold;">
										Last Meetings
									</h2>
								</header>
								<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
									<p>
										<apex:repeat value="{!lastEventsList}" var="v" id="RepeaterLastMeetings">
											<label class="slds-form-element__label" style="font-weight: bold;font-size:larger;">Date:</label>
											<!-- <apex:outputText value="{!v.startDateTime}"> -->
											<apex:outputText value="{0,date,dd/MM/yyyy} - {!v.who.name}">
												<apex:param value="{!v.startDateTime}" />
											</apex:outputText>
											<apex:outputPanel id="LastMeetingsId" layout="block" styleClass="slds-size--1-of-10 slds-small-size--1-of-10 slds-medium-size--1-of-10 LastMeetingsBoxStyle">
												<label class="slds-form-element__label" style="font-weight: bold;font-size:larger;">
													<u>Summary:</u>
												</label>
												<apex:outputText value="{!v.description}" />
												<br/>
												<label class="slds-form-element__label" style="font-weight: bold;font-size:larger;">
													<u>Next Meeting Target:</u>
												</label>
												<apex:outputText value="{!v.Next_Meeting_Target__c}" />
											</apex:outputPanel>
										</apex:repeat>
									</p>
								</div>
								<footer class="slds-modal__footer">
									<apex:commandButton action="{!Closemodal}" reRender="form" value="Close" styleclass="slds-button slds-button_brand  boxStyle" style="min-width:1in !important;"/>
								</footer>
							</div>
						</section>
						<div class="slds-backdrop slds-backdrop_open"></div>
					</div>
				</apex:outputPanel>
				<apex:outputPanel layout="block" styleClass="slds-size--1-of-10 slds-small-size--1-of-10 slds-medium-size--1-of-10">
					<apex:repeat value="{!evnWrprList}" var="r" id="theRepeater">
						<apex:outputPanel style="display: flex">
							<apex:outputPanel layout="block" styleClass="slds-size--1-of-10 slds-small-size--1-of-10 slds-medium-size--1-of-10 boxStyle" style="color:black;{!IF(r.evnt.Status__c=='Completed', 'background-color: #4b856c;', 'background-color: #f38d8b;')}">
								<apex:inputCheckbox value="{!r.isSelected}" style="zoom:2.5;float: left;{!IF(eventTime == 'FutureDate' || (eventTime == 'Today' && r.evnt.Status__c=='Not started') , 'display:block', 'display:none')};"/>
								<apex:commandLink id="EventCardLink" action="{!GoToEvent}" reRender="form,pageNum3" style="color: black;font-size: large;" value="{!r.evnt.who.name} - {!r.evnt.EXPERTIES__c}">
									<apex:param name="EventId" value="{!r.evnt.id}" assignTo="{!selectedEventId}" />
									<apex:param name="Eventindex" value="{!r.index}" assignTo="{!selectedIndex}" />
									<br/>
									<apex:outputText value="{!r.evnt.Related_Account_Name__c}" />
									<!--  <apex:commandLink id="EventCardLink2" action="{!GoToEvent}" reRender="form" style="color: black;"
	                                				 value="{!r.evnt.Related_Account_Name__c}">
	                					 <apex:param name="EventId" value="{!r.evnt.id}" assignTo="{!selectedEventId}"/>
	                                     <apex:param name="Eventindex" value="{!r.index}" assignTo="{!selectedIndex}"/>
	                                </apex:commandLink>  -->
									<!-- apex:outputText value="{!r.evnt.Related_Account_Name__c}"
	                                				 style="{!IF(r.evnt.Status__c=='Completed', 'background-color: #4b856c;', 'background-color: #f38d8b;')}"/> -->
									<br/>
									<apex:outputText value="{!r.evnt.related_Account__r.Sunday_FromTo__c}" rendered="{!IF(thisdayOfWeek='Sunday', true, false)}"/>
									<apex:outputText value="{!r.evnt.related_Account__r.Monday_FromTo__c}" rendered="{!IF(thisdayOfWeek='Monday', true, false)}"/>
									<apex:outputText value="{!r.evnt.related_Account__r.Tuesday_FromTo__c}" rendered="{!IF(thisdayOfWeek='Tuesday', true, false)}"/>
									<apex:outputText value="{!r.evnt.related_Account__r.Wednesday_FromTo__c}" rendered="{!IF(thisdayOfWeek='Wednesday', true, false)}"/>
									<apex:outputText value="{!r.evnt.related_Account__r.Thursday_FromTo__c}" rendered="{!IF(thisdayOfWeek='Thursday', true, false)}"/>
									<!-- <apex:outputText value="{!r.evnt.related_Account__r.Sunday__c}" escape="false"
	                                				 rendered="{!IF(thisdayOfWeek='Sunday', true, false)}"/>
	            				 	<apex:outputText value="{!r.evnt.related_Account__r.Monday__c}" escape="false"
	                                				 rendered="{!IF(thisdayOfWeek='Monday', true, false)}"/>
	            				 	<apex:outputText value="{!r.evnt.related_Account__r.Tuesday__c}" escape="false"
	                                				 rendered="{!IF(thisdayOfWeek='Tuesday', true, false)}"/>
	                				<apex:outputText value="{!r.evnt.related_Account__r.Wednesday__c}" escape="false"
	                                				 rendered="{!IF(thisdayOfWeek='Wednesday', true, false)}"/>
	                				<apex:outputText value="{!r.evnt.related_Account__r.Thursday__c}" escape="false"
	                                				 rendered="{!IF(thisdayOfWeek='Thursday', true, false)}"/>  -->
								</apex:commandLink>
								<apex:image url="{!$Resource.people}" style="float: left;border-radius:6px;{!IF(r.evnt.Meeting_Collaboration_Code__c != null , 'display:block', 'display:none')};"/>
							</apex:outputPanel>
							<apex:commandButton action="{!ShowLastEvents}" value="  " reRender="LastEvents" style="min-width:0.25in !important;min-height:0.25in !important ;height: 0%;margin-top: 4%;margin-left:4%;" styleClass="slds-button slds-button_brand boxStyle">
								<apex:param name="LastEventId" value="{!r.evnt.id}" assignTo="{!selectedEventId}" />
							</apex:commandButton>
						</apex:outputPanel>
					</apex:repeat>
				</apex:outputPanel>
				<!-- <apex:actionFunction name="lnkClicked" action="{!goToEvent}">
						<apex:param name="p1" assignTo="{!EventId}" value=""/>
					</apex:actionFunction> -->
				<!-- </apex:commandLink> -->
			</apex:outputPanel>
			<apex:outputPanel id="DeleteOrCreateMeetings">
				<apex:commandButton value="Delete" action="{!DeleteEvent}" styleClass="slds-button slds-button_brand" reRender="evnTable,alertPanel" style="float: left;margin-left: 3%;margin-right:3%;background-color: #a8bfd1 !important;color: black; {!IF(eventTime != 'PastDate' , 'visibility:visible', 'visibility:hidden')};" />
				<!-- <apex:commandButton value="Create Event" action="{!CreateMeetings}" styleClass="slds-button slds-button_brand" -->
				<apex:commandButton value="Create Event"  styleClass="slds-button slds-button_brand" onclick="rerenderList1();return false;" style="margin-right: 10%;background-color: #a8bfd1 !important;color: black; {!IF(eventTime != 'FutureDate' , 'display:block', 'display:none')};" />
			</apex:outputPanel>
		</apex:outputPanel>
		<!-- /// SCREEN # 1 -->

		<!-- /// SCREEN # 2 Create Events -->
		<!-- <script type="text/javascript">
			$('.searchSelect').select2();
		</script> -->

		<apex:outputPanel id="pageNum2" layout="block" style="{!IF(pageNum = 2 , 'display:block', 'display:none')};width:100%;">
			<form class="" role="form">
				<div class="slds-grid slds-wrap">
					<div style="display: flex;width:100%;">
						<label class="slds-form-element__label" style="margin-top: 0.5%; font-weight: bold;width:35%;">
							Select Contact:
						</label>
						<apex:outputPanel id="rerenderMe">
							<script>
                            	var item1 = JSON.parse('{!JSENCODE(items1)}');
							</script>
						</apex:outputPanel>
						<apex:actionFunction name="updateContact" action="{!setContactParam}" rerender="rerenderMe,trgMsg,todayEvnt,trgsToSelect,NoTargets">
                            <apex:param name="value" value="" assignTo="{!selectedcontact}" /> 
						</apex:actionFunction>
						<!-- <apex:outputPanel id="picklist">
						<apex:actionFunction name="func" reRender="picklist" ></apex:actionFunction> -->
						<apex:outputPanel id="picklist">
							<div id='ContactList' style="width:25%;"></div>
						</apex:outputPanel>
					</div>
				</div>
				<apex:outputText id="trgMsg" value="{!trgMsg}" escape="false" style="font-weight:bold;color:red;{!IF(trgMsg != null , 'display:block', 'display:none')};"/>
				<apex:outputPanel id="todayEvnt" style="{!IF(showYesNo , 'display:block', 'display:none')};">
					<apex:commandLink id="IsToContinueYes" action="{!contactWithMeeting}" reRender="trgsToSelect,trgMsg,todayEvnt,NoTargets" style="color: blue;margin-left:6%;" value="Yes / ">
						<apex:param name="YesNo" value="Yes" assignTo="{!IsToContinue}" />
					</apex:commandLink>
					<apex:commandLink id="IsToContinueNo" action="{!contactWithMeeting}" reRender="trgsToSelect,trgMsg,todayEvnt,NoTargets" style="color: blue;margin-left:2%;" value="No">
						<apex:param name="YesNo" value=" No" assignTo="{!IsToContinue}" />
					</apex:commandLink>
				</apex:outputPanel>
				<apex:outputPanel id="trgsToSelect">
					<apex:outputPanel id="trgtToSelect">
						<apex:repeat value="{!targetToBeSelectedMap}" var="r" id="targetToSelect">
							<apex:commandLink id="addTrgToMap" action="{!addTrgToMap}" reRender="trgsToSelect,slctTrgtsMap,trgMsg,saveEventTable" style="color: blue;text-decoration: underline;margin-left:6%;" value="{!targetToBeSelectedMap[r].related_Account__r.account__r.name} - {!targetToBeSelectedMap[r].Contact_s_Expertise__c}">
								{!targetToBeSelectedMap[r].id}
								<apex:param name="trgId" value="{!targetToBeSelectedMap[r].contact__c}" assignTo="{!selectedtrgId}" />
							</apex:commandLink>
							<br/>
						</apex:repeat>
					</apex:outputPanel>
					<br/>
				</apex:outputPanel>
				<apex:outputPanel id="slctTrgtsMap" style="{!IF(isToShowSelectedTargetsMap || newEvent.Objective__c != null, 'display:block', 'display:none')};">
					<table class="tableBox">
						<tr>
							<td style="padding-top: 1%;padding-right:3.5%;padding-bottom: 1%;padding-left: 2%;">
								<apex:commandLink action="{!RemoveTrg}" reRender="slctTrgtsMap" style="{!IF(newEvent.Objective__c != null, 'display:block', 'display:none')};">
									<apex:image url="{!$Resource.closeIcon}" />
									<apex:param name="trgId" value="{!newEvent.Objective__c}" assignTo="{!removedId}" />
								</apex:commandLink>
							</td>
							<td style="padding-top: 1%;padding-right:0%;padding-bottom: 1%;padding-left: 0%;">
								<apex:outputText value="{!ac.Account_Text__c}-{!ac.Contact_Text__c}" style="{!IF(newEvent.Objective__c != null, 'display:block', 'display:none')};"/>
							</td>
						</tr>
						<apex:repeat value="{!selectedTargetsMap}" var="td">
							<tr>
								<td style="padding-top: 1%;padding-right:3.5%;padding-bottom: 1%;padding-left: 2%;">
									<!-- {!td.name}BTN -->
									<apex:commandLink action="{!RemoveTrg}" reRender="slctTrgtsMap">
										<apex:image url="{!$Resource.closeIcon}" />
										<apex:param name="trgId" value="{!selectedTargetsMap[td].id}" assignTo="{!removedId}" />
									</apex:commandLink>
								</td>
								<td style="padding-top: 1%;padding-right:0%;padding-bottom: 1%;padding-left: 0%;">
									<apex:outputText value="{!selectedTargetsMap[td].contact__r.name}-{!selectedTargetsMap[td].related_Account__r.account__r.name}-{!selectedTargetsMap[td].Contact_s_Expertise__c}"/>
								</td>
							</tr>
						</apex:repeat>
					</table>
					<br/>
				</apex:outputPanel>
				<apex:outputPanel id="NoTargets" style="{!IF(trgMsg = 'No Targets Found', 'display:block', 'display:none')};">
					<div style="height:640px">
						<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
						 class="slds-modal slds-fade-in-open">
							<div class="slds-modal__container">
								<header class="slds-modal__header">
									<h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate" style="color:#0a64ab;font-weight: bold;">
										No Targets Found
									</h2>
								</header>

								<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
									<p style="margin-left: 3%;">
										<label class="slds-form-element__label" style="font-weight: bold;">Select Objective</label>
										<br/>
										<apex:selectList styleClass="selectListWidth" multiselect="false" style="min-width: 2.5in !important;" size="1" value="{!selectedObjective}">
											<apex:selectOptions value="{!ObjectiveList}" />
										</apex:selectList>
										<br/>
										<br/>
										<label class="slds-form-element__label" style="font-weight: bold;">Select Related Account</label>
										<br/>
										<apex:selectList styleClass="selectListWidth" multiselect="false" style="min-width: 2.5in !important;" size="1" value="{!selectedRelatedAccount}">
											<apex:selectOptions value="{!relatedAccountList}" />
										</apex:selectList>
									</p>
								</div>
								<footer class="slds-modal__footer" style="display: flex;">
									<apex:commandButton value="Select" styleclass="slds-button slds-button_brand  boxStyle" style="min-width:1in !important;margin-right:3%;"
									 action="{!Closemodal}" reRender="NoTargets,trgtToSelect,slctTrgtsMap,trgMsg,showYesNo">
										<apex:param name="selected" value="Selected" assignTo="{!closeModalStatus}" />
									</apex:commandButton>
									<apex:commandButton value="Close" styleclass="slds-button slds-button_brand  boxStyle" style="min-width:1in !important;"
									 reRender="NoTargets,trgtToSelect,slctTrgtsMap,trgMsg,showYesNo" action="{!Closemodal}" />
								</footer>
							</div>
						</section>
						<div class="slds-backdrop slds-backdrop_open"></div>
					</div>
				</apex:outputPanel>
				<apex:outputPanel id="saveEventTable" styleClass="slds-grid slds-wrap slds-size--12-of-12 slds-small-size--10-of-10 slds-medium-size--12-of-12">
					<!--  slds-table PROBLEM??? 
					class="slds-table slds-table--bordered slds-table--cell-buffer"-->
					<table style="background-color:#d8dde6;margin-right:10%;">
						<tbody>
							<tr>
								<td style="font-size:smaller;display: flex;padding:2%;">
									<label for="startsTimeInput" class="tableLabel">Start</label>
									<apex:inputText id="startsTimeInput" value="{!startsTime}" style="text-align:center;max-width:15%" html-placeholder="HH:MM"
									 onChange="CheckTimeInput(this,'fromSave');" />
									<label class="tableLabel" style="padding-left:2%;padding-right:1%">End</label>
									<apex:inputText id="endsTimeInput" value="{!endsTime}" style="text-align:center;max-width:15%" html-placeholder="HH:MM" onChange="CheckTimeInput(this,'fromSave');"/>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Meeting Summary</label>
									<br/>
									<apex:inputField value="{!newEvent.Description}" style="direction: rtl; width:65%;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Next Meeting Targets</label>
									<br/>
									<apex:inputField value="{!newEvent.Next_Meeting_Target__c}" style="width:65%;direction: rtl;" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="width:25%;margin-right:9.5%;">Main Product</label>
									<apex:inputField id="mainProductPick" value="{!newEvent.Main_Product__c}" onchange="updateSelected_1(this)" />
									<apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" />
									<!-- <apex:selectList styleClass="selectListWidth" multiselect="false"
										size="1" value="{!selectedMainProduct}">
										<apex:selectOptions value="{!MainProductList}"/>
										<apex:param name="mainProductId" value="{!selectedMainProduct}" assignTo="{!newEvent.main_Product__c}"/>										
									</apex:selectList>	 -->
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;width:25%;margin-right:10%;">Secondary Product</label>
									<apex:inputField id="secondaryProductPick" value="{!newEvent.Secondary_Product__c}" onchange="updateSelected_2(this)"/>
									<apex:inputHidden id="secondaryProductHidden" value="{!SelectedSecondaryProductVAL}" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;width:25%;margin-right:9%;">Third Product</label>
									<apex:inputField id="thirdProductPick" value="{!newEvent.Third_Product__c}" onchange="updateSelected_3(this)"/>
									<apex:inputHidden id="thirdProductHidden" value="{!SelectedThirdProductVAL}" />
								</td>
							</tr>
							<br/>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;margin-right: 9%;">Priority</label>
									<apex:inputField value="{!newEvent.Classification__c}" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:1rem !important;">
									<apex:commandButton value="Save" action="{!SaveEvents}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
									<apex:commandButton value="Cancel" action="{!ReturnToMainPage}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
								</td>
							</tr>
							<br/>
							<tr style="margin-bottom: 0.5%;">
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">
										Next Meeting Date
									</label>
									<apex:inputField id="nextMeetingDatePick" value="{!nextEvn.UtilDate__c}" style="width:55%;text-align:center;" />
									<!-- <apex:input type="date" id="nextMeetingDatePick" value="{!nextMeetingDateVAL}" style="width:55%;text-align:center;" /> -->
									<!-- <apex:inputHidden id="nextMeetingDateHidden" value="{!nextMeetingDateVAL}" /> -->
									
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Return To Contact</label>
									<apex:inputField value="{!newEvent.Return_to_Contact__c}" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effects</label>
									<apex:inputField value="{!newEvent.Side_Effects__c}" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effects Comments</label>
									<br/>
									<apex:inputField value="{!thisSideEffects.Comments__c}" style="direction: rtl;width:50%;" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Product</label>
									<apex:inputField id="sideEffectProductPick" value="{!thisSideEffects.SE_Product__c}" onchange="updateSelected_4(this)" styleClass="selectListWidth"/>
									<apex:inputHidden id="sideEffectProductHidden" value="{!SideEffectSEProductVAL}" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Way Of Use</label>
									<apex:inputField value="{!thisSideEffects.SE_Way_Of_Use__c}" styleClass="selectListWidth" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Dosage</label>
									<apex:inputField value="{!thisSideEffects.SE_Dosage__c}" />
								</td>
							</tr>
							<tr>
								<td style="display: flex;padding-bottom:1rem !important;padding-left: 2%;">
									<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Doctor Consent</label>
									<apex:inputField value="{!thisSideEffects.Call_To_Dr_Consent__c}" />
								</td>
							</tr>
							<!-- <tr>
							<td style="padding-bottom:1rem !important;">
								<label class="slds-form-element__label" style="margin-top: 0.5%; font-weight: bold">Location</label>
								<apex:inputField value="{!newEvent.location}"/>																	
							</td>					
						</tr>		 -->
						</tbody>
					</table>
				</apex:outputPanel>
				<apex:outputPanel id="SaveCancelBtn2" style="display: flex;margin-top: 3%;margin-bottom:4%;">
					<apex:commandButton value="Save" action="{!SaveEvents}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
					<apex:commandButton value="Cancel" action="{!ReturnToMainPage}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
				</apex:outputPanel>
			</form>
		</apex:outputPanel>
		<!-- /// SCREEN # 2 -->

		<!-- SCREEN # 3 Show or edit thisEvent -->
		<apex:outputPanel id="pageNum3" layout="block" styleClass="slds-grid slds-wrap slds-size--12-of-12 slds-small-size--10-of-10 slds-medium-size--12-of-12"
		 style="{!IF(pageNum = 3 , 'display:block', 'display:none')};">
			<table id="thisEventTable" class="slds-table slds-table--bordered slds-table--cell-buffer" style="background-color:#d8dde6;margin-right:10%;">
				<tbody>
					<tr>
						<td>
							<apex:outputText value="{!thisEvent.who.name} - {!thisEvent.EXPERTIES__c}" />
							<apex:outputText value="{!thisEvent.Related_Account_Name__c}" />
							<!-- <br/>
							<apex:outputText value="{!thisEvent.id}" /> -->
						</td>
					</tr>
					<tr>
						<!-- <td style="font-size:smaller;display: flex;padding:2%;">
										<label class="slds-form-element__label" style="font-weight: bold;">Start</label>
									<apex:inputText value="{!startsTime}" style="text-align:center;max-width:15%" html-placeholder="HH:MM"/>	
										<label class="slds-form-element__label" style="font-weight: bold;padding-left:2%;padding-right:1%">End</label>
									<apex:inputText value="{!endsTime}" style="text-align:center;max-width:15%" html-placeholder="HH:MM"/>
							</td>	 -->
						<td style="font-size:smaller;display: flex;padding:2%;">
							<label class="tableLabel">Start</label>
							<apex:inputText id="timeStartsUpdateInput" value="{!startsTime}" html-placeholder="HH:MM" onChange="CheckTimeInput(this,'fromUpdate');"
							 style="text-align:center;max-width:15%;{!IF(isEditable , 'display:block', 'display:none')};" />
							<apex:outputText value="{0, Time, HH:mm}" style="text-align:center;margin-left:-0.5%;{!IF(!isEditable , 'display:block', 'display:none')};">
								<apex:param value="{!thisEvent.StartDateTime}" />
							</apex:outputText>
							<!-- <apex:outputText value="{0, Time, HH:mm:ss z}">
							<apex:param value="{!thisEvent.UtilStartTime__c}" />
						</apex:outputText> -->
							<label class="tableLabel" style="padding-left:2%;padding-right:2%">End</label>
							<apex:inputText id="timeEndsUpdateInput" value="{!endsTime}" html-placeholder="HH:MM" onChange="CheckTimeInput(this,'fromUpdate');"
							 style="text-align:center;max-width:15%;{!IF(isEditable , 'display:block', 'display:none')};" />
							<apex:outputText value="{0, Time, HH:mm}" style="text-align:center;{!IF(!isEditable , 'display:block', 'display:none')};">
								<apex:param value="{!thisEvent.EndDateTime}" />
							</apex:outputText>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom:1rem !important;">
							<!-- <apex:outputPanel id="rerenderThis"> -->
								<label class="tableLabel" style="margin-top: 0.5%;">Meeting Summary</label>
								<apex:outputText value="{!thisEvent.Description}" style="width:65%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
								<!-- <apex:inputField id="descriptionEditPick" onchange="EditSection_updateSelected_1('{!thisEvent.Description}')" value="{!thisEvent.Description}" style="direction: rtl; width:65%;{!IF(isEditable , 'display:block', 'display:none')};"/> -->
								<apex:inputField id="descriptionEditPick" value="{!thisEvent.Description}" style="direction: rtl; width:65%;{!IF(isEditable , 'display:block', 'display:none')};"/>
								<!-- <apex:inputField id="descriptionEditPick" value="{!thisEvent.Description}" style="direction: rtl; width:65%;{!IF(isEditable , 'display:block', 'display:none')};"/> -->
								<!-- <apex:inputHidden id="descriptionEditHidden" value="{!descriptionEditVAL}" /> -->
								<!-- <apex:inputHidden id="descriptionEditHidden" value="{!thisEvent.Description}" /> -->
							<!-- </apex:outputPanel> -->
						</td>
					</tr>
					<tr>
						<td>
							<label class="tableLabel" style="margin-top: 0.5%;">Next Meeting Targets</label>
							<apex:outputText value="{!thisEvent.Next_Meeting_Target__c}" style="width:65%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
							<apex:inputField id="nextMeetingTargetEditPick" value="{!thisEvent.Next_Meeting_Target__c}" style="width:65%;direction: rtl;{!IF(isEditable , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="nextMeetingTargetEdit" value="{!nextMeetingTargetEditVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="width:25%;margin-right:14.5%;">Main Product</label>
							<!-- <apex:selectList id="MainProduct" styleClass="selectListWidth" multiselect="false" size="1" value="{!selectedMainProduct}"
							 style="{!IF(isEditable && isGetProdPerTeam , 'display:block', 'display:none')};">
								<apex:selectOptions value="{!MainProductList}" />
							</apex:selectList> -->
							<apex:outputText value="{!thisEvent.Main_Product__c}" style="width:30%;margin-left:30%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
							<apex:inputField id="mainProductEditPick" value="{!thisEvent.Main_Product__c}" style="{!IF(isEditable && !isGetProdPerTeam , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="mainProductEditHidden" value="{!mainProductEditVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;width:25%;margin-right:15%;">Secondary Product</label>
							<!-- <apex:selectList id="SecondaryProduct" styleClass="selectListWidth" multiselect="false" size="1" value="{!selectedSecondaryProduct}"
							 style="{!IF(isEditable && isGetProdPerTeam, 'display:block', 'display:none')};">
								<apex:selectOptions value="{!SecondaryProductList}" />
							</apex:selectList> -->
							<apex:outputText value="{!thisEvent.Secondary_Product__c}" style="width:30%;margin-left:30%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
							<apex:inputField id="secondaryProductEditPick" value="{!thisEvent.Secondary_Product__c}" style="{!IF(isEditable && !isGetProdPerTeam , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="secondaryProductEditHidden" value="{!secondaryProductEditVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;width:25%;margin-right:14%;">Third Product</label>
							<!-- <apex:selectList id="ThirdProduct" styleClass="selectListWidth" multiselect="false" size="1" value="{!selectedThirdProduct}"
							 style="{!IF(isEditable && isGetProdPerTeam, 'display:block', 'display:none')};">
								<apex:selectOptions value="{!ThirdProductList}" />
							</apex:selectList> -->
							<apex:outputText value="{!thisEvent.Third_Product__c}" style="width:30%;margin-left:30%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
							<apex:inputField id="thirdProductEditPick" value="{!thisEvent.Third_Product__c}" style="{!IF(isEditable && !isGetProdPerTeam , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="thirdProductEditPickHidden" value="{!thirdProductEditPickVAL}" /> -->
						</td>
					</tr>
					<br/>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;margin-right: 9%;">Priority</label>
							<apex:outputText value="{!thisEvent.Classification__c}" style="{!IF(!isEditable , 'display:block', 'display:none')};" />
							<apex:inputField id="classificationEditPick" value="{!thisEvent.Classification__c}" style="{!IF(isEditable, 'display:block', 'display:none')};" />
							<!-- <apex:inputHidden id="classificationEditHidden" value="{!classificationEditVAL}" /> -->
						</td>
					</tr>
					<br/>
					<tr>
						<td style="padding-bottom:1rem !important;display: flex;">
							<!-- <apex:commandButton value="Save" action="{!UpdateEvent}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black; -->
							<apex:commandButton value="Save" onclick="initValuesForUpdate();" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;
													   {!IF(isEditable , 'display:block', 'display:none')};" />
							<!-- <apex:commandButton value="Save & Next" action="{!UpdateEventAndNext}" styleClass="slds-button slds-button_brand" style="background-color: #a8bfd1 !important;color: black; -->
							<apex:commandButton value="Save & Next" onclick="eventUpdateAndNext(); return false;" styleClass="slds-button slds-button_brand" style="background-color: #a8bfd1 !important;color: black;
												{!IF(isEditable , 'display:block', 'display:none')};" />
							<!-- <apex:commandButton value="Cancel" action="homePage();return false;" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/> -->
							<apex:commandButton value="Cancel" onclick="cancel(); return false;" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
							<!-- <apex:commandButton value="Edit Request"  onclick="sendEditRequest(); return false;" styleClass="slds-button slds-button_brand" onclick="if (!confirmation()) return false;" -->
							<apex:commandButton value="Edit Request"  action="{!EditRequest}" styleClass="slds-button slds-button_brand" onclick="if (!confirmation()) return false;"
							style="{!IF(!isEditable , 'display:block', 'display:none')};background-color: #a8bfd1 !important;color: black;" />
						</td>
					</tr>
					<tr style="{!IF(isEditable , 'display:block', 'display:none')};margin-bottom: 0.5%;">
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;text-align:center;">
								Next Meeting Date
							</label>
							<apex:inputField id="nextMeetingDateEditPick" value="{!nextEvn.UtilDate__c}" style="width:55%" />
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Return To Contact</label>
							<apex:outputText value="{!thisEvent.Return_to_Contact__c}" style="{!IF(!isEditable , 'display:block', 'display:none')};"/>
							<apex:inputField id="returnToContactEditPick" value="{!thisEvent.Return_to_Contact__c}" style="{!IF(isEditable , 'display:block', 'display:none')};" />
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effects</label>
							<apex:inputField id="sideEffectsEditPick" value="{!thisEvent.Side_Effects__c}" style="{!IF(isEditable , 'display:block', 'display:none')};">
								<apex:outputText value="{!thisEvent.Side_Effects__c}" style="{!IF(!isEditable , 'display:block', 'display:none')};" />
								<apex:actionSupport event="onchange" reRender="pageNum3" action="{!ChangeSideEffects}">
									<apex:param name="p1" assignTo="{!SideEffectCheckBox}" value="{!thisEvent.Side_Effects__c}" />
								</apex:actionSupport>
							</apex:inputField>
						</td>
					</tr>
					<tr>
						<td style="padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effects Comments</label>
							<apex:outputText value="{!thisEvent.side_Effect__r.Comments__c}" style="width:50%;{!IF(!isEditable || !SideEffectCheckBox  , 'display:block', 'display:none')};"/>
							<apex:inputField id="sideEffectsCommentsEventPick" value="{!thisSideEffects.Comments__c}" style="direction: rtl;width:50%;{!IF(isEditable && SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Product</label>
							<apex:inputField id="productEditPick" value="{!thisSideEffects.SE_Product__c}" styleClass="selectListWidth" style="{!IF(isEditable && SideEffectCheckBox, 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="EditSection_sideEffectProductHidden" value="{!SideEffectSEProductVAL}" /> -->
							<apex:outputText value="{!thisEvent.side_Effect__r.SE_Product__c}" styleClass="selectListWidth" style="{!IF(!isEditable || !SideEffectCheckBox, 'display:block', 'display:none')};"/>
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Way Of Use</label>
							<apex:outputText value="{!thisEvent.side_Effect__r.SE_Way_Of_Use__c}" styleClass="selectListWidth" style="{!IF(!isEditable || !SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<apex:inputField id="wayOfUseEditPick" value="{!thisSideEffects.SE_Way_Of_Use__c}" styleClass="selectListWidth" style="{!IF(isEditable && SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Dosage</label>
							<apex:outputText value="{!thisEvent.side_Effect__r.SE_Dosage__c}" style="{!IF(!isEditable || !SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<apex:inputField id="dosageEditPick" value="{!thisSideEffects.SE_Dosage__c}" style="{!IF(isEditable && SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<tr>
						<td style="display: flex;padding-bottom:1rem !important;">
							<label class="tableLabel" style="margin-top: 0.5%;">Side Effect Doctor Consent</label>
							<apex:outputText value="{!thisEvent.side_Effect__r.Call_To_Dr_Consent__c}" style="{!IF(!isEditable || !SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<apex:inputField id="doctorConsentEditPick" value="{!thisSideEffects.Call_To_Dr_Consent__c}" style="{!IF(isEditable && SideEffectCheckBox , 'display:block', 'display:none')};"/>
							<!-- <apex:inputHidden id="mainProductHidden" value="{!SelectedMainProductVAL}" /> -->
						</td>
					</tr>
					<!-- <tr>
						<td style="padding-bottom:1rem !important;">
							<label class="slds-form-element__label" style="margin-top: 0.5%; font-weight: bold">Location</label>
							<apex:inputField value="{!thisEvent.location}"
										 style="width:50%;{!IF(isEditable , 'display:block', 'display:none')};"/>
							<apex:outputText value="{!thisEvent.location}"
							 		 	 style="width:50%;{!IF(!isEditable , 'display:block', 'display:none')};"/>
						</td>
					</tr> -->
					<tr>
						<td style="padding-bottom:1rem !important;display: flex;margin-bottom:4%;">
							<!-- <apex:commandButton value="Save" action="{!UpdateEvent}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black; -->
							<!-- <apex:commandButton value="Save" onclick="eventUpdate(); return false;" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black; -->
							<apex:commandButton value="Save" onclick="initValuesForUpdate();" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;
												{!IF(isEditable , 'display:block', 'display:none')};" />
							<!-- <apex:commandButton value="Save & Next" action="{!UpdateEventAndNext}" styleClass="slds-button slds-button_brand" style="background-color: #a8bfd1 !important;color: black; -->
							<apex:commandButton value="Save & Next" onclick="eventUpdateAndNext(); return false;" styleClass="slds-button slds-button_brand" style="background-color: #a8bfd1 !important;color: black;
												{!IF(isEditable , 'display:block', 'display:none')};" />
							<!-- <apex:commandButton value="Cancel" action="{!ReturnToMainPage}" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/> -->
							<apex:commandButton value="Cancel" onclick="cancel(); return false;" styleClass="slds-button slds-button_brand" style="margin-left: 2%;margin-right:3%;background-color: #a8bfd1 !important;color: black;"/>
							<!-- <apex:commandButton value="Edit Request" action="{!EditRequest}" styleClass="slds-button slds-button_brand" style="{!IF(!isEditable , 'display:block', 'display:none')};background-color: #a8bfd1 !important;color: black;"/> -->
							<apex:commandButton value="Edit Request" onclick="sendEditRequest(); return false;" styleClass="slds-button slds-button_brand" style="{!IF(!isEditable , 'display:block', 'display:none')};background-color: #a8bfd1 !important;color: black;"/>
						</td>
					</tr>
				</tbody>
			</table>
		</apex:outputPanel>
		<!-- /// SCREEN #3  -->
	</apex:form>
	<script type="text/javascript">

		function sparta() {
			console.log("this is sparta");
		}
		function updateSelected_1(element) {
			var a = $($('[id*=mainProductPick]'))[0];
			b = a.selectedOptions;
			$('[id*=mainProductHidden]')[0].value = b[0].value;
		}
		function updateSelected_2(element) {
			var a = $($('[id*=secondaryProductPick]'))[0];
			b = a.selectedOptions;
			$('[id*=secondaryProductHidden]')[0].value = b[0].value;
		}
		function updateSelected_3(element) {
			var a = $($('[id*=thirdProductPick]'))[0];
			b = a.selectedOptions;
			$('[id*=thirdProductHidden]')[0].value = b[0].value;
		}
		
		function updateSelected_4(element) {
			var a = $($('[id*=sideEffectProductPick]'))[0];
			b = a.selectedOptions;
			$('[id*=sideEffectProductHidden]')[0].value = b[0].value;
		}
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		//******************************************************************************************************************************************
		function initValuesForUpdate() {
			var timeStart = $($('[id*=timeStartsUpdateInput]'))[0];
			var timeEnd = $($('[id*=timeEndsUpdateInput]'))[0];
			var description = $($('[id*=descriptionEditPick]'))[0];
			var nextMeetingTarget = $($('[id*=nextMeetingTargetEditPick]'))[0];
			var mainProduct = $($('[id*=mainProductEditPick]'))[0];
			var secondaryProduct = $($('[id*=secondaryProductEditPick]'))[0];
			var thirdProduct = $($('[id*=thirdProductEditPick]'))[0];
			var classification = $($('[id*=classificationEditPick]'))[0];
			var nextMeetingDate = $($('[id*=nextMeetingDateEditPick]'))[0];
			var returnToContact = $($('[id*=returnToContactEditPick]'))[0];
			var sideEffects = $($('[id*=sideEffectsEditPick]'))[0];
			var sideEffectsComments = $($('[id*=sideEffectsCommentsEventPick]'))[0];
			var product = $($('[id*=productEditPick]'))[0];
			var wayOfUse = $($('[id*=wayOfUseEditPick]'))[0];
			var dosage = $($('[id*=dosageEditPick]'))[0];
			var doctorConsent = $($('[id*=doctorConsentEditPick]'))[0];

			console.log('timeStart:', timeStart.value);
			console.log('timeEnd:', timeEnd.value);
			console.log('description:', description.value);
			console.log('nextMeetingTarget:', nextMeetingTarget.value);
			console.log('mainProduct:', mainProduct.value);
			console.log('secondaryProduct:', secondaryProduct.value);
			console.log('thirdProduct:', thirdProduct.value);
			console.log('classification:', classification.value);
			console.log('nextMeetingDate:', nextMeetingDate.value);
			console.log('returnToContact:', returnToContact.value);
			console.log('sideEffects:', sideEffects.value);
			console.log('sideEffectsComments:', sideEffectsComments.value);
			console.log('product:', product.value);
			console.log('wayOfUse:', wayOfUse.value);
			console.log('dosage:', dosage.value);
			console.log('doctorConsent:', doctorConsent.value);

			var VARtimeStart = timeStart.value ? timeStart.value : null;
			var VARtimeEnd = timeEnd.value ? timeEnd.value : null;
			var VARdescription = description.value ? description.value : null;
			var VARnextMeetingTarget = nextMeetingTarget.value ? nextMeetingTarget.value : null;
			var VARmainProduct = mainProduct.value ? mainProduct.value : null;
			var VARsecondaryProduct = secondaryProduct.value ? secondaryProduct.value : null;
			var VARthirdProduct = thirdProduct.value ? thirdProduct.value : null;
			var VARclassification = classification.value ? classification.value : null;
			var VARnextMeetingDate = nextMeetingDate.value ? nextMeetingDate.value : null;
			var VARreturnToContact = returnToContact.value == 1 ? true : false;
			var VARsideEffects = sideEffects.value == 1 ? true : false;
			var VARsideEffectsComments = sideEffectsComments.value ? sideEffectsComments.value : null;
			var VARproduct = product.value ? product.value : null;
			var VARwayOfUse = wayOfUse.value ? wayOfUse.value : null;
			var VARdosage = dosage.value ? dosage.value : null;
			var VARdoctorConsent = doctorConsent.value == 1 ? true : false;

			console.log('VARtimeStart:',VARtimeStart);
			console.log('VARtimeEnd:',VARtimeEnd);
			console.log('VARdescription:',VARdescription);
			console.log('VARnextMeetingTarget:',VARnextMeetingTarget);
			console.log('VARmainProduct:',VARmainProduct);
			console.log('VARsecondaryProduct:',VARsecondaryProduct);
			console.log('VARthirdProduct:',VARthirdProduct);
			console.log('VARclassification:',VARclassification);
			console.log('VARnextMeetingDate:',VARnextMeetingDate);
			console.log('VARreturnToContact:',VARreturnToContact);
			console.log('VARsideEffects:',VARsideEffects);
			console.log('VARsideEffectsComments:',VARsideEffectsComments);
			console.log('VARproduct:',VARproduct);
			console.log('VARwayOfUse:',VARwayOfUse);
			console.log('VARdosage:',VARdosage);
			console.log('VARdoctorConsent:',VARdoctorConsent);
			
			
			var detailsObj = {
								"timeStart" : VARtimeStart,
								"timeEnd" : VARtimeEnd,
								"description" : VARdescription,
								"nextMeetingTarget" : VARnextMeetingTarget,
								"mainProduct" : VARmainProduct,
								"secondaryProduct" : VARsecondaryProduct,
								"thirdProduct" : VARthirdProduct,
								"classification" : VARclassification,
								"nextMeetingDate" : VARnextMeetingDate,
								"returnToContact" : VARreturnToContact,
								"sideEffects" : VARsideEffects,
								"sideEffectsComments" : VARsideEffectsComments,
								"product" : VARproduct,
								"wayOfUse" : VARwayOfUse,
								"dosage" : VARdosage,
								"doctorConsent" : VARdoctorConsent
							}
			console.log('detailsObj',detailsObj);
			console.log('JSON.stringify(detailsObj)',JSON.stringify(detailsObj));		
			populateSelectedFields(JSON.stringify(detailsObj));

		}

		function testing_1() {
			var a = $($('[id*=descriptionEditPick]'))[0];
			testing_2(a.value);
		}
		function testing_2(val) {
			testing_3(val);
		}
		function EditSection_updateSelected_1(element) {
			console.log('EditSection_updateSelected_1');
			console.log('element: ', element);
			var a = $($('[id*=descriptionEditPick]'))[0];
			console.log('a.value: ', a.value);
			a.innerText = a.value
			$($('[id*=descriptionEditHidden]')).val(a.value);
		}
		function EditSection_updateSelected_2(element) {
			console.log('EditSection_updateSelected_2');
			var a = $($('[id*=nextMeetingTargetEditPick]'))[0];
			// b = a.selectedOptions;
			$('[id*=nextMeetingTargetEdit]')[0].value = a.value;
		}
		function EditSection_updateSelected_3(element) {
			console.log('EditSection_updateSelected_3');
			var a = $($('[id*=mainProductEditPick]'))[0];
			b = a.selectedOptions;
			$('[id*=mainProductEditHidden]')[0].value = b[0].value;
		}
		function EditSection_updateSelected_4(element) {
			console.log('EditSection_updateSelected_4');
			var a = $($('[id*=secondaryProductEditPick]'))[0];
			b = a.selectedOptions;
			$('[id*=secondaryProductEditHidden]')[0].value = b[0].value;
		}
		function EditSection_updateSelected_5(element) {
			console.log('EditSection_updateSelected_5');
			var a = $($('[id*=thirdProductEditPick]'))[0];
			b = a.selectedOptions;
			$('[id*=thirdProductEditPickHidden]')[0].value = b[0].value;
		}
		function EditSection_updateSelected_6(element) {
			console.log('EditSection_updateSelected_6');
			var a = $($('[id*=classificationEditPick]'))[0];
			// b = a.selectedOptions;
			$('[id*=classificationEditHidden]')[0].value = a.value;
		}
		


		function confirmation() {
			return confirm('Are you sure?');
		}

		function CheckTimeInput(inputField, fromWhere) {
			var isValid = true;

			if (inputField.value.length < 5) {
				isValid = false;
			}
			else {
				// var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);
				isValid = /^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$/.test(inputField.value);
			}

			if (isValid) {
				var startTime;
				var endTime
				if (fromWhere == 'fromSave') {
					startTime = document.querySelector('[id*="startsTimeInput"]').value;
					endTime = document.querySelector('[id*="endsTimeInput"]').value;
				}
				else {
					startTime = document.querySelector('[id*="timeStartsUpdateInput"]').value;
					endTime = document.querySelector('[id*="timeEndsUpdateInput"]').value;
				}
				if (startTime && endTime) {
					var now = new Date();
					now.setHours(endTime.substring(0, 2), endTime.slice(3), 0, 0);
					var now2 = new Date();
					now2.setHours(startTime.substring(0, 2), startTime.slice(3), 0, 0);
					if (now2 > now || startTime == endTime) {
						isValid = false;
						alert('End Time must be after Start Time');
						if (fromWhere == 'fromSave') {
							document.querySelector('[id*="startsTimeInput"]').value = "";
							document.querySelector('[id*="endsTimeInput"]').value = "";
						}
						else {
							document.querySelector('[id*="timeStartsUpdateInput"]').value = "";
							document.querySelector('[id*="timeEndsUpdateInput"]').value = "";
						}
						return isValid;
					}
				}
			}
			if (isValid) {
			} else {
				alert('Illegal assignment for Time input: ' + inputField.value);
				inputField.value = "";
			}
			return isValid;
		}

    //DScomments this function is for the search picklist. when selecting the contact it triggers the RemoveAllOptions function on the selected value 
		// var initObjSelectContact = function(){
		function initObjSelectContact() {
			var allObj = JSON.parse('{!JSENCODE(items1)}');
			var customAllObjsSelect = $("<select onchange='RemoveAllOptions(this.value)'></select>").attr("id", 'ContactListObj').attr("name", 'selectedObj');
			if (!allObj) {
				customAllObjsSelect.append("<option id='Please-Select'>Please Select</option>");
			}
			customAllObjsSelect.append("<option value='000000000000000000'>-- None --</option>");

			for (var property in allObj) {
				if (allObj.hasOwnProperty(property)) {
					customAllObjsSelect.append("<option value=" + allObj[property]['id'] + ">" + allObj[property]['name'] + "</option>");
				}
			}
			$('#ContactList').append(customAllObjsSelect);
			$('#ContactListObj').select2();
			// alert('1 customAllObjsSelect: ' + customAllObjsSelect);
			// appendCustomAllObjsSelect(customAllObjsSelect);

		}

		// {!selectedcontact}

		var RemoveAllOptions = function (val) {
			updateContact(val);
		}

		// function appendCustomAllObjsSelect(customAllObjsSelect) {
		// 	//alert('2 customAllObjsSelect: ' + customAllObjsSelect);
		// 	$('#ContactList').append(customAllObjsSelect);
		//     $('#ContactListObj').select2();
		// }

		function setFocusOnLoad() {
			var Cardfocus = document.querySelector('[id*="EventCardLink"]');
			Cardfocus.focus();
		}
		$(document).ready(function () {
			initObjSelectContact();
			// document.querySelector('[id*="nextMeetingDatePick"]')[0].value = null;
			var a = $($('[id*=nextMeetingDatePick]'))[0];
			console.log('a.value_1', a.value);
			a.value = null;
			console.log('a.value_2', a.value);
			// b = a.selectedOptions;
			// $('[id*=mainProductHidden]')[0].value = b[0].value;

			setFocusOnLoad();
		});
	</script>
    
   
</apex:page>