<apex:page controller="Ctrl_ObjectivesClone_old" title="Objectives Clone" showHeader="true" sidebar="true"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>    
    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding-left: 1% !important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
             $('input:checkbox')[0].checked=false;
        });
        function ChangeCheckbox(){
            // alert('walla');
                var chk = $('input:checkbox');
                if ($('input:checkbox')[0].checked )
                {
                    for (var i = 1; i < chk.length; i++) {
                        chk[i].checked = true;
                    }
                }
                else 
                {
                    for (var i = 1; i < chk.length; i++) {
                        chk[i].checked = false;
                    }   
                }
        }
    </script>
    <apex:slds />
    <div style="text-align:center;font-size: 25px;margin-top:2%;">
        <apex:outputText value="Objectives Clone" /> 
    </div>
     <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert" 
          style="font-size: 18px;{!IF(pgErrorMsg != null  && pgSuccessMsg = null , 'display:block', 'display:none')};" > 
        <span class="slds-assistive-text">error</span>
        <apex:outputtext id="ErrMsg" style="white-space:pre-wrap;" value="{!pgErrorMsg}"/>
    </div>
    <div class="slds-notify slds-notify--alert slds-theme--success slds-theme--alert-texture TitleStyle" role="alert"
          style="font-size: 18px;{!IF(pgErrorMsg = null && pgSuccessMsg != null , 'display:block', 'display:none')}" > 
        <span class="slds-assistive-text">Success</span>
        <apex:outputtext id="SuccMsg" style="white-space:pre-wrap;" value="{!pgSuccessMsg}"/>
    </div> 

    <apex:form style="margin-top: 2%;margin-left: 10%" rendered="{!isTeamlLead}">   
        <div style="font-size: 20px;margin-top:1%;margin-bottom:1%;">
            <apex:outputText value="Clone From : " /> 
        </div>          
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-12" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="YearList" style="margin-top: 0.5%; font-weight: bold">Select Year:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="YearList" multiselect="false" size="1"
                                title="Select Year for Objective" 
                                value="{!toSelectYear}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!YearsFromList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-12" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="QRList" style="margin-top: 0.5%; font-weight: bold">Select Quarter:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="QRList" multiselect="false" size="1"
                                title="Select Quarter for Objective" 
                                value="{!toSelectQuarter}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!QrList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-8" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="UserList" style="margin-top: 0.5%; font-weight: bold">Select User:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="UserList" multiselect="false" size="1"
                                title="Select User for Objective" 
                                value="{!toSelectUser}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!usersList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <apex:commandButton value="Search" action="{!Search}" styleClass="slds-button slds-button_brand" 
                                    style="margin-top:4%;margin-left:2%;background-color: #a8bfd1 !important;color: black"/>
            </div>
        </div>

        <div style="font-size: 20px;margin-top:1%;margin-bottom: 1%;">
            <apex:outputText value="Clone To : " /> 
        </div>

        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-12" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="ToYearList" style="margin-top: 0.5%; font-weight: bold">Select Year:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="ToYearList" multiselect="false" size="1"
                                title="Select Year for created Objective" 
                                value="{!toInsertYear}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!YearsToList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-12" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="ToQRList" style="margin-top: 0.5%; font-weight: bold">Select Quarter:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="ToQRList" multiselect="false" size="1"
                                title="Select Quarter for created Objective" 
                                value="{!toInsertQuarter}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!QrList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-8" style="margin-right: 2%;">
                <label class="slds-form-element__label" for="ToUserList" style="margin-top: 0.5%; font-weight: bold">Select User:</label>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <apex:selectList id="ToUserList" multiselect="false" size="1"
                                title="Select User for created Objective" 
                                value="{!toInsertUser}" 
                                styleClass="slds-select">
                                <apex:selectOptions value="{!usersList}"/>
                            </apex:selectList>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4"/>

        </div>
        <div class="slds-col slds-size_1-of-4">
            <apex:commandButton rendered="{! !showTable}" value="Clone Objectives" styleClass="slds-button slds-button_brand" 
                                style="margin-top:10%;background-color: grey !important;color: black"  disabled="true"/>
            <apex:commandButton value="Clone Objectives" rendered="{!showTable}" action="{!CloneObjectives}" styleClass="slds-button slds-button_brand" 
                                style="margin-top:10%;background-color: #a8bfd1 !important;color: black"
                                onclick="if(!confirm('Are you sure you want to clone the Objectives ?')){return false};"/>
        </div>
        <br/>
        <!-- objectiveList -->
        <apex:dataTable id="ObjectiveTable" value="{!ojbWrpLst}" var="r"  rendered="{!showTable}" style="width: 75%;margin-top: 2%;margin-bottom:1%;"
                        styleClass="slds-table slds-table--bordered  slds-table_bordered slds-table_resizable-cols"   cellpadding="4" >
            <apex:column style="width:3%;" >
                <apex:facet name="header"> 
                    <input type="checkbox" id="SelectAllcheckbox" onchange="ChangeCheckbox();"/>
                </apex:facet>
                <apex:inputCheckbox value="{!r.isSelected}"/>
            </apex:column>
            <apex:column value="{!r.obj.Territory__c}" headerValue="{!$ObjectType.Objective__c.fields.Territory__c.Label}" style="width:8%;"/>
            <apex:column value="{!r.obj.Representative__r.name}" headerValue="{!$ObjectType.Objective__c.fields.Representative__c.Label}" style="width:25%;"/>
            <apex:column value="{!r.obj.Experties__c}" headerValue="{!$ObjectType.Objective__c.fields.Experties__c.Label}" style="width:20%;"/>
            <apex:column value="{!r.obj.Classification__c}" headerValue="{!$ObjectType.Objective__c.fields.Classification__c.Label}" style="width:10%;"/>
            <!-- <apex:column value="{!r.obj.Required_No_Of_Visits__c}" headerValue="{!$ObjectType.Objective__c.fields.Required_No_Of_Visits__c.Label}" style="width:10%;"/> -->
             <apex:column style="width:10%;text-align:center;padding: 3%;">
                <apex:facet name="header">  Required No <br/> Of Visits </apex:facet>
                <apex:inputText maxlength="3" value="{!r.obj.Required_No_Of_Visits__c}" style="width:45%;text-align:center;"/>
            </apex:column>
        </apex:dataTable>       
    </apex:form>
</apex:page>