<apex:page controller="Ctrl_TargetsToLocked" title="Lock Targets" showHeader="false" sidebar="false">
	<apex:slds />
	<div class="demo-only" style="height: 640px;">
	  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
	    <div class="slds-modal__container" style="max-width:60rem;">
	      <header class="slds-modal__header">
	        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
	          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
	            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
	          </svg>
	          <span class="slds-assistive-text">Close</span>
	        </button>
	        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Lock Targets</h2>
	      </header>
	      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
	       
	      	<apex:form >
				<div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert" 
					 style="margin-bottom:2%;font-size: 18px;{!IF(pgErrorMsg != null  && pgSuccessMsg = null , 'display:block', 'display:none')};" > 
		            <span class="slds-assistive-text">error</span>
		            <apex:outputtext id="ErrMsg" style="white-space:pre-wrap;" value="{!pgErrorMsg}"/>
		        </div>
		        <div class="slds-notify slds-notify--alert slds-theme--success slds-theme--alert-texture TitleStyle" role="alert" 
		        	 style="margin-bottom:2%;font-size: 18px;{!IF(pgErrorMsg = null && pgSuccessMsg != null , 'display:block', 'display:none')};" > 
		            <span class="slds-assistive-text">Success</span>
		            <apex:outputtext id="SuccMsg" style="white-space:pre-wrap;" value="{!pgSuccessMsg}"/>
		        </div>
	    	<apex:outputPanel rendered="{!isDepartmentManager}" >
		        <div class="slds-grid" style="margin-top:1%;">
		        	<div class="slds-col slds-size_5-of-12">
						<label class="slds-form-element__label" for="RoleList" style="margin-right:40%;margin-left:40%;font-weight: bold">
							Select Role:
						</label>
						<div class="slds-form-element">
							<div class="slds-form-element__control" style="width:25%;margin-right:40%;margin-left:40%;" >
								<div class="slds-select_container" >
									<apex:selectList id="RoleList" multiselect="false" size="1"
										title="Select Quarter:" 
										value="{!selectRole}" 
										styleClass="slds-select">
										<apex:selectOptions value="{!RoleList}"/>
									</apex:selectList>
								</div>
							</div>
						</div>
					</div>
		        </div>
	        </apex:outputPanel>
	        <apex:outputPanel rendered="{!isAuthorized}">	        
		        <div class="slds-grid" style="margin-top:1%;width:75%;margin-left: 20%;margin-right:20%;">
					<div class="slds-col slds-size_2-of-12" style="margin-right:10%;">
						<label class="slds-form-element__label" for="YearList" style="font-weight: bold">
							Select Year:
						</label>
						<div class="slds-form-element">
							<div class="slds-form-element__control">
								<div class="slds-select_container">
									<apex:selectList id="YearList" multiselect="false" size="1"
										title="Select Year:" 
										value="{!selectYear}" 
										styleClass="slds-select">
										<apex:selectOptions value="{!YearList}"/>
									</apex:selectList>
								</div>
							</div>
						</div>
					</div>
					<div class="slds-col slds-size_2-of-12" style="margin-right:10%;">
						<label class="slds-form-element__label" for="QRList" style="margin-right:20%; font-weight: bold">
							Select Quarter:
						</label>
						<div class="slds-form-element">
							<div class="slds-form-element__control">
								<div class="slds-select_container">
									<apex:selectList id="QRList" multiselect="false" size="1"
										title="Select Quarter:" 
										value="{!selectQuarter}" 
										styleClass="slds-select">
										<apex:selectOptions value="{!QrList}"/>
									</apex:selectList>
								</div>
							</div>
						</div>
					</div>	
					<div class="slds-col" style="margin-top:4%;margin-left:1%;">                
		                <apex:commandButton value="Lock Targets" action="{!Lock}" 
		                onclick="if(!confirm('Are you sure you want to Lock The Targets ?')){return false};"
		                styleClass="slds-button slds-button_brand" style="background-color: #a8bfd1 !important;color: black" />
		            </div>		
				</div>
			 </apex:outputPanel>
		</apex:form>

	      </div>
	    </div>
	  </section>
	  <div class="slds-backdrop slds-backdrop_open"></div>
	</div>
</apex:page>